* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    text-align: center;
}

header a {
    font-size: 100px;
    color: wheat;
    text-decoration: none;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin: 100px;
}

.car-list,
.bike-list {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    list-style: none;
}

.car-list li h3,
.bike-list li h3  {
    font-size: 30px;
    margin-bottom: 20px;
}

